<app-header title="Taps"></app-header>
<app-menu></app-menu>

<ion-content id="main">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="chip">
        <ion-icon name="cube-outline"></ion-icon>
        <ion-label>Chip</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cards">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Cards</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="scroll">
        <ion-icon name="infinite-outline"></ion-icon>
        <ion-label>Infinite-Scroll</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
